@font-face {
  font-family: 'IBMPlexSans';
  src: url('../../public/fonts/IBMPlexSans/IBMPlexSans-Light.ttf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'IBMPlexSans';
  src: url('../../public/fonts/IBMPlexSans/IBMPlexSans-Medium.ttf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'IBMPlexSans';
  src: url('../../public/fonts/IBMPlexSans/IBMPlexSans-Regular.ttf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'IBMPlexSans';
  src: url('../../public/fonts/IBMPlexSans/IBMPlexSans-Bold.ttf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'IBMPlexSans';
  src: url('../../public/fonts/IBMPlexSans/IBMPlexSans-SemiBold.ttf') format('opentype');
  font-weight: 600;
}
